<form action="/login" method="post">
    <input type="username" name="user[username]" placeholder="username"> <br>
    <input type="password" name="user[password]" placeholder="password"> <br>
    <input type="submit" value="Log In Bro"/>
</form>