<form action="/signup" method="post">
    <input type="email" name="user[email]" placeholder="username"> <br>
    <input type="password" name="user[password]" placeholder="password"> <br>
    <input type="submit" value="Log In Bro"
</form>