<div>
        <H1> SIGN UP PAGE </H1>

        <form action="/signup" method="post">
            <input type="name" name="user[name]" placeholder="name"> <br>
            <input type="username" name="user[username]" placeholder="username"> <br>
            <input type="password" name="user[password]" placeholder="password"> <br>
            <input type="submit" value="Create Account"/>
        </form>
        <h7>Already have an account click "log in" below </h7> <br>
        <a class="btn btn-primary" href="/login" role="button">Log In</a>
</div>