


<div class="p-3 mb-2 bg-warning text-dark">
<h1>YOUR FOOD DIARY!</h1>
    <% @foods.each do |x| %>
        
        <div class="container">
            <ol>
            <a href="/foods/<%= x.id %>"> <%= "#{x.name}"%> </a> : This item cost you
            <%= "$#{x.price}.00"%> 
            </ol>

            <ol>
            <%= "How it tasted: #{x.description}" %> <br>
            </ol>
            
            </div>
        
        <% end %>
</div>