<h1> YOUR FOOD DIARY!</h1>

<ul>

    <% @foods.each do |x| %>
         
            <%= "#{x.name}"%>: This item cost you
            <%= "$#{x.price}.00"%> <br>
            <%= "How it tasted: #{x.description}" %>
        
        
        <% end %>

</ul>
 