<h1> YOUR FOOD DIARY!</h1>




    <% @foods.each do |x| %>
        
        <div class="container">
            <ol>
            <%= "#{x.name}"%>: This item cost you
            <%= "$#{x.price}.00"%> 
            </ol>

            <ol>
            <%= "How it tasted: #{x.description}" %> <br>
            </ol>
            
            </div>
        
        <% end %>


