<div class="p-3 mb-2 bg-info text-dark">
    <div>
    <h1>FOOD DIARY ENTRY FORM</h1>

        <form action="/foods" method="post" >
            <input type="name" name="food[name]" placeholder="What did you eat"> <br>
            <input type="number" name="food[price]" placeholder="Dollar amount"> <br>
            <input type="text" name="food[description]" placeholder="How did it taste"> <br>
            <input type="checkbox" id="healthy1" name="food[healthy]" value="health">
            <label for="healthy1"> It was healthy</label><br>
            <input type="submit" value="Log Entry"/>
        </form>
        </div>
    <br>

        <div>
        <h3> What Does Your Food Mean? </h3>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis tincidunt id aliquet risus feugiat in. Condimentum mattis pellentesque id nibh tortor. Urna neque viverra justo nec ultrices dui sapien. Id diam maecenas ultricies mi eget.    
        </div>

        <div>
            <img src="../images/junk-food-1.png" width=500, hight=500>
        </div>
        

</div>