<h1> FOOD DIARY ENTRY FORM PAGE BRO!!! </h1>

<form action="/foods" method="post">
    <input type="name" name="foods[name]" placeholder="What did you eat"> <br>
    <input type="number" name="foods[price]" placeholder="Dollar amount"> <br>
    <input type="text" name="foods[description]" placeholder="How did it taste"> <br>
    <input type="password" name="foods[password]" placeholder="password"> <br>
    <input type="checkbox" id="healthy1" name="foods[healthy]" value="health">
    <label for="healthy1"> It was healthy</label><br>
    <input type="submit" value="Log Entry"
</form>