
<ul>

    <h1> <%= @food.name %>  </h1> <br>

    <p> :The Price? <%= @food.price %> </li> </p>

    <p> :How was it? <%= @food.description %> </p>

    <p> :Was it Healthy? <%= @food.healthy%> </p>

</ul>