<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>JUNKY FOODIES</title>
 </head>
 <body>
 <form method="POST" action="/newteam">
 <p>Team name: <input type="text" name="name"> </p>
 <h1> < Coach: input type="text" name="coach"> </h1>
 <input type="text" name="pg">
 <input type="text" name="sg">
 <input type="text" name="pf">
 <input type="text" name="sf">
 <input type="text" name="c">
 <input type="submit">
</form>
 </body>
</html>