<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST FOOD DIARY</title>
</head>
<body>
    <%= yield %>

    <% if logged_in? %>
    <br><br>
    <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
    </form>
    <% end %>

</body>
</html>