<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST FOOD DIARY</title>
</head>
<body>
<h1> this is where all the other stuff goes nav bar and styles </h1>
<nav>
    <a href= "/"> home </a>
    
    <% if logged_in? %>
        <a href= "/foods/new"> food entry </a>
        <a href= "/foods"> all my foods  </a>
       
        
    <% else %>
        <a href= "/login"> login </a>
        <a href= "/signup"> signup  </a>
    <% end %>
    

</nav>
    <%= yield %>

    <% if logged_in? %>
    <br><br>
    <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
    </form>
    <% end %>

</body>
</html>