<h1> WELCOME PAGE </h1>

<div>

        <% @foods.each do |x| %>

        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th>#</th>
            <th>NAME</th>
            <th>PRICE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
             <th scope="row">
            <%=""%></th>
            <td><%= "#{x.name}"%></td>
            <td><%="$#{x.price}.00"%></td>
            </tr>
           
        </tbody>
        </table>

        <% end %>
</div>

<br>
<div>

    <h3> Your Food Entry </h3>
    <p> metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget </p>
    <h3> The Headlines Behind The Food Industry </h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor morbi non arcu risus quis varius quam. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Amet tellus cras adipiscing enim. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Mi quis hendrerit dolor magna eget. Sit amet luctus venenatis lectus magna fringilla. Libero volutpat sed cras ornare arcu dui vivamus arcu. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Libero volutpat sed cras ornare arcu dui vivamus arcu. Quis blandit turpis cursus in hac habitasse. Nisi vitae suscipit tellus mauris a diam. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Donec ultrices tincidunt arcu non sodales neque sodales. </p> 

</div>